<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzy Connections</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Nav Bar-->
    <div class="inner py-3 bg-light shadow-sm"></div>
    <div class="container text-center">
        <h3 class="masthead-brand mb-3 text-primary font-weight-bold">Investor Options</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id="home" class="nav-link px-3 text-dark font-weight-bold" href="/investor">Home</a>
            <a id="bonstock" class="nav-link px-3 text-dark font-weight-bold" href="/BondStock">Bonds & Stocks</a>
            <a id="transac" class="nav-link px-3 text-dark font-weight-bold" href="/Trans">Transactions</a>
        </nav>
    </div>
</div>
</body>
</html>